/* Place custom css here */
.logo-switches {
  flex-wrap: inherit;
}

.logo-switches {
  display: inline-flex;
  margin: auto 4px;
}

#theme-toggle:focus {
  outline: 0;
}

button#theme-toggle {
  font-size: 26px;
  margin: auto 4px;
}

/* #theme-toggle,
.top-link {
  display: none;
} */

.top-link {
  visibility: hidden;
}

.title-container {
  display: flex;
  justify-content: space-between;
}
